<h1>Make your form here</h1>

<!--
      params[:pirate][name]
      params[:pirate][weight]
      params[:pirate][height]

      params[:pirate][ships][][name]
      params[:pirate][ships][][type]
      params[:pirate][ships][][booty]
-->

<form action="pirates/show" method="POST">
  Pirate Name: <input type="text" name="pirate[name]">
  Pirate Weight: <input type="text" name="pirate[weight]">
  Pirate Name: <input type="text" name="pirate[name]">

  Ship 1 Name: <input type="text" name="pirate[ships][][name]" id="ship_name_1">
  Ship 1 Type: <input type="text" name="pirate[ships][][type]" id="ship_name_1">
  Ship 1 Booty: <input type="text" name="pirate[ships][][booty]" id="ship_name_1">

</form>
