<h1>Make your form here</h1>

<!--
      params[:pirate][name]
      params[:pirate][weight]
      params[:pirate][height]

      params[:pirate][ships][][name]
      params[:pirate][ships][][type]
      params[:pirate][ships][][booty]
-->

<form action="pirates/show" method="POST">
  Pirate Name: <input type="text" name="pirate[name]">

</form>
